h6{
    font-size: 14px !important;
    /* color: orange !important; */
}
a{
    color: #007bff !important;
}
 h1{
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}
/* p{
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
} */

h4{
     font-family: "Nunito Sans", Arial, sans-serif;
    /* background: #fff; */
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: black !important;   
}

p{
 color: black !important;
}

.yt-ic{
    color: red !important;
}

.ins-ic{
    color: black !important;
}

.git-ic{
    color: black !important;
}

.gplus-ic{
    color: red !important;
}

.email-ic{
    color: black !important;
}
.fb-ic{
    color: navy !important;
}