<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
  <div class="container">
    <!-- <span class="navbar-brand" href="/"><strong style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">SOFTWARE ENGINEER</strong></span> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
      aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
      <ul class="navbar-nav mr-auto" style="color: black;">
      </ul>
      <form class="form-inline">
        <div class="md-form my-0">
          <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
        </div>
      </form>
    </div>
  </div>
</nav>
<!-- nav -->

<!-- Intro Section -->
<div class="view jarallax" data-jarallax='{"speed": 0.2}'
  style="background-image: url(assets/img/bv1.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <div class="mask rgba-black-light">
    <div class="container h-100 d-flex justify-content-center align-items-center">
      <div class="row pt-5 mt-3">
        <div class="col-md-12">
          <div class="text-center">
            <h1 class="h1-reponsive white-text  font-weight-bold mb-3 wow fadeInDown" data-wow-delay="0.3s">
              <span style="font-family: Garamond; font-size: 36px;">
                Hey! My name is Oduor Sam. I'm a software engineer and an open-source creator.
              </span></h1>
            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
            <h5 class="text-uppercase mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"></h5>
            <!-- <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s" href="#port">portfolio</a>
                  <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s" href="#port">About me</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <br><br>
    <section class="section team-section wow fadeIn" data-wow-delay="0.3s">


      <!-- Section description -->
            <!-- Grid row -->
      <div class="row mb-lg-4 text-center text-md-left">

        <!-- Grid column -->
        <div class="col-lg-6 col-md-12">
          <div class="col-md-6 float-left">
            <div class="avatar mx-auto">
              <img src="assets/img/wd.jpg" class="z-depth-1" alt="Fifth sample avatar image">
            </div>
          </div>

          <div class="col-md-6 float-right">
            <h4 class="mt-md-0 mt-4"><strong>Proficiency</strong></h4>
            <h6 class="font-weight-bold grey-text mb-4">Full-Stack Developer</h6>
            <p class="grey-text">Talented software developer experienced in Amazon Web Services
              .... <a (click)="openModal('4')">Read more</a></p>

            <!-- Facebook -->
            <a class="p-2 m-2 fa-lg fb-ic" href="https://en-gb.facebook.com/oduorsamueloriginal"><i
                class="fab fa-facebook-f"> </i></a>
            <!-- Twitter -->
            <a class="p-2 m-2 fa-lg tw-ic" href="https://twitter.com/OduorSamuel3"><i class="fab fa-twitter"> </i></a>
            <!-- Dribbble -->
            <a class="p-2 m-2 fa-lg dribbble-ic" href="https://api.whatsapp.com/send?phone=+254790648600"><i
                class="fab fa-whatsapp" style="color: lightgreen;"> </i></a>
            <a class="p-2 m-2 fa-lg ins-ic" href = "mailto: soduor15@gmail.com"><i class="fas fa-envelope">
              </i></a>
          </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-6 col-md-12">
          <div class="col-md-6 float-left">
            <div class="avatar mx-auto">
              <img src="assets/img/saf1.png" class="z-depth-1" alt="Fifth sample avatar image">
            </div>
          </div>

          <div class="col-md-6 float-right">
            <h4 class="mt-md-0 mt-4"><strong>Safaricom PLC</strong></h4>
            <h6 class="font-weight-bold grey-text mb-4">Financial Services</h6>
            <p class="grey-text">Use software skills to automate repetitive tasks within  M-PESA system 
              .... <a (click)="openModal('5')">Read more</a></p>

            <!-- Facebook -->
            <a class="p-2 m-2 fa-lg fb-ic" href="https://en-gb.facebook.com/oduorsamueloriginal"><i
                class="fab fa-facebook-f"> </i></a>
            <!-- Twitter -->
            <a class="p-2 m-2 fa-lg tw-ic" href="https://twitter.com/OduorSamuel3"><i class="fab fa-twitter"> </i></a>
            <!-- Dribbble -->
            <a class="p-2 m-2 fa-lg dribbble-ic" href="https://api.whatsapp.com/send?phone=+254790648600"><i
                class="fab fa-whatsapp" style="color: lightgreen;"> </i></a>
            <a class="p-2 m-2 fa-lg ins-ic" href = "mailto: soduor15@gmail.com"><i class="fas fa-envelope">
              </i></a>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-lg-4 text-center text-md-left">

        <!-- Grid column -->
        <div class="col-lg-6 col-md-12 mb-4">

          <div class="col-md-6 float-left">
            <div class="avatar mx-auto">
              <img src="assets/img/wd2.jpg" class="z-depth-1" alt="First sample avatar image">
            </div>
          </div>

          <div class="col-md-6 float-right">
            <h4 class="mt-md-0 mt-4"><strong>Techfactory Limited</strong></h4>
            <h6 class="font-weight-bold grey-text mb-4">Senior Software Developer</h6>
            <p class="grey-text">
              Assisted in development of new version for Danish E-learning Platform .... <a
                (click)="openModal('1')">Read more</a>
            </p>

            <!-- Facebook -->
            <a class="p-2 m-2 fa-lg fb-ic" href="https://en-gb.facebook.com/oduorsamueloriginal"><i
                class="fab fa-facebook-f"> </i></a>
            <!-- Twitter -->
            <a class="p-2 m-2 fa-lg tw-ic" href="https://twitter.com/OduorSamuel3"><i class="fab fa-twitter"> </i></a>
            <!-- Dribbble -->
            <a class="p-2 m-2 fa-lg dribbble-ic" href="https://api.whatsapp.com/send?phone=+254790648600"><i
                class="fab fa-whatsapp" style="color: lightgreen;"> </i></a>
            <a class="p-2 m-2 fa-lg ins-ic" href = "mailto: soduor15@gmail.com"><i class="fas fa-envelope">
              </i></a>
          </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-6 col-md-12 mb-4">

          <div class="col-md-6 float-left">
            <div class="avatar mx-auto">
              <img src="assets/img/am.jpg" class="z-depth-1" alt="Second sample avatar image">
            </div>
          </div>

          <div class="col-md-6 float-right">
            <h4 class="mt-md-0 mt-4"><strong>Ampath Kenya</strong></h4>
            <h6 class="font-weight-bold grey-text mb-4">Junior Software Developer</h6>
            <p class="grey-text">Assisted in design and development of AMPATH Hotspot .... <a
                (click)="openModal('2')">Read more</a></p>

            <!-- Facebook -->
            <a class="p-2 m-2 fa-lg fb-ic" href="https://en-gb.facebook.com/oduorsamueloriginal"><i
                class="fab fa-facebook-f"> </i></a>
            <!-- Twitter -->
            <a class="p-2 m-2 fa-lg tw-ic" href="https://twitter.com/OduorSamuel3"><i class="fab fa-twitter"> </i></a>
            <!-- Dribbble -->
            <a class="p-2 m-2 fa-lg dribbble-ic" href="https://api.whatsapp.com/send?phone=+254790648600"><i
                class="fab fa-whatsapp" style="color: lightgreen;"> </i></a>
            <a class="p-2 m-2 fa-lg ins-ic" href = "mailto: soduor15@gmail.com"><i class="fas fa-envelope">
              </i></a>
          </div>

        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row text-center text-md-left">

        <!-- Grid column -->
        <div class="col-lg-6 col-md-12 mb-lg-0 mb-4">

          <div class="col-md-6 float-left">
            <div class="avatar mx-auto">
              <img src="assets/img/ms3.jpg" class="z-depth-1" alt="Fourth sample avatar image">
            </div>
          </div>

          <div class="col-md-6 float-right">
            <h4 class="mt-md-0 mt-4"><strong>Maseno University</strong></h4>
            <h6 class="font-weight-bold grey-text mb-4">Bachelor's Degree</h6>
            <p class="grey-text">Graduated from school of computing and Informatics studied .... <a
                (click)="openModal('3')">Read
                more</a></p>
            <!-- Facebook -->
            <a class="p-2 m-2 fa-lg fb-ic" href="https://en-gb.facebook.com/oduorsamueloriginal"><i
                class="fab fa-facebook-f"> </i></a>
            <!-- Twitter -->
            <a class="p-2 m-2 fa-lg tw-ic" href="https://twitter.com/OduorSamuel3"><i class="fab fa-twitter"> </i></a>
            <!-- Dribbble -->
            <a class="p-2 m-2 fa-lg dribbble-ic" href="https://api.whatsapp.com/send?phone=+254790648600"><i
                class="fab fa-whatsapp" style="color: lightgreen;"> </i></a>
            <a class="p-2 m-2 fa-lg ins-ic" href = "mailto: soduor15@gmail.com"><i class="fas fa-envelope">
              </i></a>
          </div>

        </div>
        <!-- Grid column -->
        <div class="col-lg-6 col-md-12 mb-4">

          <div class="col-md-6 float-left">
            <div class="avatar mx-auto">
              <img src="assets/img/cs2.jpg" class="z-depth-1" alt="Second sample avatar image">
            </div>
          </div>

          <div class="col-md-6 float-right">
            <h4 class="mt-md-0 mt-4"><strong>Cisco Networking Academy</strong></h4>
            <h6 class="font-weight-bold grey-text mb-4">CCNA Certifications</h6>
            <p class="grey-text">Attained CCNA Routing and Switching Certifications</p>

            <!-- Facebook -->
            <a class="p-2 m-2 fa-lg fb-ic" href="https://en-gb.facebook.com/oduorsamueloriginal"><i
                class="fab fa-facebook-f"> </i></a>
            <!-- Twitter -->
            <a class="p-2 m-2 fa-lg tw-ic" href="https://twitter.com/OduorSamuel3"><i class="fab fa-twitter"> </i></a>
            <!-- Dribbble -->
            <a class="p-2 m-2 fa-lg dribbble-ic" href="https://api.whatsapp.com/send?phone=+254790648600"><i
                class="fab fa-whatsapp" style="color: lightgreen;"> </i></a>
            <a class="p-2 m-2 fa-lg ins-ic" href = "mailto: soduor15@gmail.com"><i class="fas fa-envelope">
              </i></a>
          </div>

        </div>

        <!-- Grid column -->

        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>

  </div>
</main>
<br><br>
<footer class="page-footer pt-4 mt-0 text-center text-md-left" style="background-color:black;">

  <!-- Footer Links -->
  <div class="container">
    <div class="row mt-3">

      <!-- First column -->
      <div class="col-md-3 col-lg-4 col-xl-3 offset-xl-1 col-12 mb-4">
        <h5 class="text-uppercase font-weight-bold mb-4" style="color: white;">DEVELOPER HOBBIES</h5>
        <span style="color: white;">Actively involved in community-run projects that aim to improve
          effectiveness and accessibility of technology through
          research.</span>
      </div>
      <!-- /.First column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Second column -->
      <div class="col-md-2 offset-xl-1 col-12 mb-4">
        <h5 class="text-uppercase font-weight-bold mb-4" style="color: white;">Products</h5>
        <span style="color: white;"><span>POS</span></span>
        <br>
        <span style="color: white;"><span>NPS System</span></span>
        <br>
        <span style="color: white;"><span>E-learning Platform</span></span>
        <br>
        <span style="color: white;"><span>Survey Application</span></span>
      </div>
      <!-- /.Second column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Third column -->
      <div class="col-md-3 col-lg-2 col-12 mb-4">
        <h5 class="text-uppercase font-weight-bold mb-4" style="color: white;">Useful links</h5>
        <span style="color: white;"><a target="_blank" style="color: white !important;" href="https://github.com/oduorsamuel">Git Hub</a></span><br>
        <span style="color: white;"><a target="_blank" style="color: white !important;" href="https://www.linkedin.com/in/oduorsamuel/">Linkedin</a></span>
        <!-- <p><a href="#!">Shipping Rates</a></p>
          <p><a href="#!">Help</a></p> -->
      </div>
      <!-- /.Third column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Fourth column -->
      <div class="col-md-4 col-lg-3 col-12">
        <h5 class="text-uppercase font-weight-bold mb-4" style="color: white;">Contact</h5>
        <span style="color: white;"><i class="fas fa-home mr-3"></i> NAIROBI,2159 KAREN, KENYA</span>
        <br>
        <span style="color: white;"><i class="fas fa-envelope mr-3"></i> soduor15@gmail.com</span>
        <br>
        <span style="color: white;"><i class="fas fa-phone mr-3"></i> + 254 790 648 600</span>
        <br>
        <span style="color: white;"><i class="fas fa-print mr-3"></i> + 254 790 648 600</span>

      </div>
      <!-- /.Fourth column -->

    </div>

    <!-- /.Footer Links -->

    <hr>

    <!-- Footer Links -->
    <div class="row mt-3 d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-6 col-12">

        <!-- Copyright -->
        <span style="color: white;" class="text-left grey-text">© {{today}} Copyright: <span routerLink="home"><strong>
              Oduor Samuel</strong></span></span>
        <!-- Copyright -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 col-12">
        <!-- Social buttons -->
        <div class="social-section">
          <ul class="list-unstyled list-inline d-flex justify-content-end">
            <li class="list-inline-item"><a class="btn-floating btn-small rgba-white-slight"
                href="https://en-gb.facebook.com/oduorsamueloriginal"><i class="fab fa-facebook-f">
                </i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/OduorSamuel3"
                class="btn-floating btn-small rgba-white-slight"><i class="fab fa-twitter">
                </i></a></li>
            <li class="list-inline-item"><a class="btn-floating btn-small rgba-white-slight"><i
                  class="fab fa-google-plus-g">
                </i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/oduorsamuel/"
                class="btn-floating btn-small rgba-white-slight"><i class="fab fa-linkedin-in">
                </i></a></li>
          </ul>
        </div>
        <!-- /.Social buttons -->
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer -->

    <!-- Safaricom -->
    <jw-modal id="5">
      <h1 style="font-size: 18px;">Safaricom PLC (Current)</h1>
      <div class="tab-pane fade show active" id="panel83" role="tabpanel">
        <p>
          Participate in design, testing and implementation of new products, services, functionalities or upgrades. <br>
          Use software skills to automate repetitive tasks within M-PESA system and the ecosystem. <br>
          Analyze code and communicate detailed reviews to development teams to ensure a marked improvement in applications and the timely completion of projects. <br>
          Optimize existing software design architectures and ensure new architecture provide always on solutions. <br>
          Collaborate with team members to improve processes, tools, systems and procedures. <br>
          Participate and provide input to the M-PESA roadmap to ensure timely delivery of relevant products to Safaricom Customers;. <br>
          Implement DevOps technologies and processes e.g containerization. <br>
          Engage stakeholders to ensure new functionality, processes and systems are fully understood. <br>
          Transfer system knowledge to internal customers on new features and support processes. <br>
          Diagnose and troubleshoot technical issues on the assigned systems and apply a work around or a permanent solution to resolve within SLA. <br>
          Provide prompt and accurate feedback to stakeholders on assigned tasks. <br>
        </p>
        <br><br><br>
        <div class="d-flex justify-content-between">
          <div>
          </div>
          <div>
            <button class="btn btn-danger text-left" (click)="closeModal('5');">Close</button>
          </div>
        </div>
      </div>
      <br>
    </jw-modal>
    <!-- End Safaricom -->

    <jw-modal id="1">
      <h1 style="font-size: 18px;">Techfactory Limited</h1>
      <div class="tab-pane fade show active" id="panel83" role="tabpanel">
        <p>
          Assisted in development of new version for Mitkursus (E-learning Platform),
          Support other development and design based on Python (Flask), JavaScript (VueJS, NodeJS+Express), Ionic3/4,
          Angular6/7, Docker, Redis, MongoDB, HTML 5/CSS. Perform load and stress test on software to uncover bugs and
          troubleshoot issues before application launches.
        </p>
        <br><br><br>
        <div class="d-flex justify-content-between">
          <div>
          </div>
          <div>
            <button class="btn btn-danger text-left" (click)="closeModal('1');">Close</button>
          </div>
        </div>
      </div>
      <br>
    </jw-modal>

    <jw-modal id="2">
      <h1 style="font-size: 18px;">Ampath Kenya (MTRH)</h1>
      <div class="tab-pane fade show active" id="panel83" role="tabpanel">
        <p>
          Assisted in design and development of AMPATH Hotspot Monitoring Frontend using Angular6 framework. Engaged in
          software development of AMPATH Patient Feedback application for POC using Angular5 framework, hapiJS and
          MYSQL.
        </p>
        <br><br><br>
        <div class="d-flex justify-content-between">
          <div>
          </div>
          <div>
            <button class="btn btn-danger text-left" (click)="closeModal('2');">Close</button>
          </div>
        </div>
      </div>
      <br>
    </jw-modal>

    <jw-modal id="3">
      <h1 style="font-size: 18px;">Maseno University</h1>
      <div class="tab-pane fade show active" id="panel83" role="tabpanel">
        <p>
          Graduated from school of computing and Informatics studied Bachelor of Science: Information Technology </p>
        <br><br><br>
        <div class="d-flex justify-content-between">
          <div>
          </div>
          <div>
            <button class="btn btn-danger text-left" (click)="closeModal('3');">Close</button>
          </div>
        </div>
      </div>
      <br>
    </jw-modal>

    <jw-modal id="4">
      <h1 style="font-size: 18px;">Proficiency</h1>
      <div class="tab-pane fade show active" id="panel83" role="tabpanel">
        <p>
          Talented software developer experienced in producing and updating web systems. Optimized
          structures and processes to accomplish customer targets and promote company loyalty. Expert
          in diverse programming languages, including Angular Framework, Node JS, Python, CSS3, HTML 5
          and VueJS.
        </p><br>

        <h1 style="font-size: 18px;">Skills</h1>
        <ul>
          <li>
            Amazon Web Services
          </li>
          <li>
            Agile development methodologies
          </li>
          <li>
            Database servers
          </li>
          <li>
            Web applications
          </li>
          <li>
            Testing and deployment
          </li>
          <li>
            Cloud architectures and services
          </li>
        </ul>
        <br><br><br>
        <div class="d-flex justify-content-between">
          <div>
          </div>
          <div>
            <button class="btn btn-danger text-left" (click)="closeModal('4');">Close</button>
          </div>
        </div>
      </div>
      <br>
    </jw-modal>